@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(../font/Y-2_3oNnGXTRT4ySJQfhEBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
